button:focus {
	outline: none;
}
.checkBoxCont {
	/* check the inline styling */
	/* This Doesn't Work ignore it */
	height: "11.2rem";/* This Doesn't Work ignore it*/
	/* This Doesn't Work ignore it*/
	/* just to not leave the class empty to remove the warnings */
}
.checkBoxCont::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}
.checkBoxCont::-webkit-scrollbar-thumb {
	background: #28425c;
	border-radius: 1rem;
}
