button:focus {
	outline: none;
}
.BTN__Search {
	width: 50%;
	height: 15%;
	border: 0;
	font-size: 1rem;
	color: #b3bcc4;
	background-color: transparent;
}
.BTN__SearchDark {
	width: 50%;
	height: 15%;
	border: 0;
	font-size: 1rem;
	color: #b3bcc4;
	background-color: #28425c;
}
.checkBoxCont {
	/* check the inline styling */
	/* This Doesn't Work ignore it */
	height: "11.2rem";/* This Doesn't Work ignore it*/
	/* This Doesn't Work ignore it*/
	/* just to not leave the class empty to remove the warnings */
}
.checkBoxCont::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}
.checkBoxCont::-webkit-scrollbar-thumb {
	background: #28425c;
	border-radius: 1rem;
}
